@page "/keluarga"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using MarampaApp.Shared
@using System.Text.Json
@using System.Text.Json.Serialization



@attribute [Authorize]
@inject HttpClient Http
@inject SweetAlertService Swal
@inject NavigationManager nav

<div class="row">
    <Radzen.Blazor.RadzenFieldset>
        <HeaderTemplate>
            <span>
                <b>Data Keluarga</b>
            </span>
        </HeaderTemplate>
        <ChildContent>
            <div style="margin-bottom:10px; display:flex;justify-content:flex-end">
                <RadzenButton Size="ButtonSize.Medium" Click="@(()=>nav.NavigateTo("/keluarga/addkeluarga"))" Icon="add" ButtonStyle="ButtonStyle.Success" Style="text-align:right" />
            </div>
            <RadzenGrid Data="@sources"
                        AllowFiltering="true" AllowPaging="true" AllowSorting="true" TItem="Keluarga" ColumnWidth="200px">
                <Columns>
                    <RadzenGridColumn Width="100px" TItem="Keluarga" Property="NomorKartuKeluarga" Title="Nomor Kartu Keluarga" />
                    <RadzenGridColumn TItem="Keluarga" Property="KepalaKeluarga.Nama" Title="Nama Kepala Keluarga" />
                    <RadzenGridColumn TItem="Keluarga" Property="Telepon" Title="Telepon" />
                    <RadzenGridColumn TItem="Keluarga" Property="Alamat" Title="Alamat" />
                    <RadzenGridColumn Width="60px" TItem="Keluarga" Property="Terdaftar" Title="Terdaftar" >
                        <Template Context="item">
                             @item.Terdaftar.ToString("dd/MM/yyyy")
                        </Template>
                    </RadzenGridColumn>
                    <RadzenGridColumn Width="60px" TItem="Keluarga"  Title="" >
                        <Template Context="item" >
                            <RadzenButton Icon="lists" Click="@(()=>nav.NavigateTo($"/keluarga/details/{item.Id}"))"/>
                        </Template>
                    </RadzenGridColumn>
                </Columns>
            </RadzenGrid>
        </ChildContent>
    </Radzen.Blazor.RadzenFieldset>
</div>



@code {
    string controller = "/api/keluarga";
    private Keluarga Model;


    private IEnumerable<Keluarga> sources;


    protected override async Task OnInitializedAsync()
    {
        try
        {
               var responseMessage = await Http.GetAsync($"{controller}");
            if (responseMessage.IsSuccessStatusCode)
            {
                var data = await HttpHelper.GetResult<IEnumerable<Keluarga>>(responseMessage);
                if (data != null)
                {
                    sources = data.ToList();
                }
            }
           
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }
}


